@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


* {
    margin: 0;
    padding: 0;
}

.title {
    padding: 20px;
    border-style: solid;
    border-color: darkred;
    border-top-width: 8px;
    border-right-width: 3em;
    border-bottom-width: 8px;
    border-left-width: 3em; 
}

.main {
    display: flex;
    padding: 30px;
}

.main2 {
    display: flex;
    padding: 0px;
    font-size: 10px;
}

p, .main2 {
    font-size: 30px;
}

.lilboi {
    display: block;
    margin: 0 auto;
}

.badjoke {
    display: block;
    margin: 0 auto;
}

img, .badjoke {
    display: block;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: darkred;
    font-size: 85px;
}

h3 {
    font-family: "Comfortaa", sans-serif;
    color: darkred;
    font-size: 50px;
    padding: 90px;
}

p {
    font-family: "Comfortaa", sans-serif;
    color: black;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    padding: 20px;
}

a {
 text-decoration:none;
 color: darkred;
 padding: 20px;
}

a:hover {
 background-color:#ffffff;
 color: #000000;
}

li {
 font-family: sans-serif;
 display: inline;
}

ul {
 list-style-type: none;
 margin: 0 auto;
 padding: 20px;
}

header {
    display:flex;
    height:auto;
    background-color: antiquewhite;
    position: fixed;
    margin: 0 auto;
}

body {
    background-color: beige;
}

.imgs {
    display: flex;
}

img {
    width: 30%;
    padding: 20px;
}

/*WOW IS THIS THE FORM HOLY HECK ITS SO INTUITIVE (A+ pls)*/

form, .results {
    position: relative;
    top: 50px;
    width: 400px;
    margin: auto;
    border: 10px solid antiquewhite;
    border-radius: 15px;
    padding: 15px;
    font-family: Comfortaa, sans-serif;
    background: beige;
}

fieldset {
    background-color: beige;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 15px;
    color: darkred;
    background-color: antiquewhite;
    padding: 2px 4px;
    border: 1px dotted beige;
    border-radius: 5px;
}

p, .results{
    font-family: "Comfortaa", sans-serif;
    color: black;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    padding: 20px;
}

footer {
    font-family: "Comfortaa", sans-serif;
    color: black;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    padding: 20px;
}